{% extends 'r2d2/base.html' %}

{% block title %}
<title>معرفی تست sentimental analysis</title>
{% endblock %}


{% block styles %}
{% load staticfiles %}
{% endblock %}


{% block content %}

<section class="services" id="SERVICE">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="about_title">
                    <h2>معرفی تست sentimental analysis</h2>
                    <p>
                        پیشاپیش از همکاری شما در انجام این تست متشکریم.
                       در این بخش هدف انتساب برچسب مثبت٬منفی و خنثی به جملات است.
                        در ادامه نحوه ی انتخاب هر برچسب توضیح داده شده است.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="single_service wow fadeInUp" data-wow-delay="1s">
                    <i class="fa fa-cog"></i>
                    <h3>مثبت</h3>
                    <p >
                      آیا جمله ای که خواندید القا کننده احساس مثبتی در شما است؟ برای مثال جملات زیر همه مثبت هستند:
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="single_service wow fadeInUp" data-wow-delay="2s">
                    <i class="fa fa-cog"></i>
                    <h3>منفی</h3>
                    <p >
                       آیا جمله ای که خواندید القا کننده احساس منفی در شماست؟ برای مثال جملات زیر همه منفی هستند:
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="single_service wow fadeInUp" data-wow-delay="3s">
                    <i class="fa fa-cog"></i>
                    <h3>خنثی</h3>
                    <p>
                       به هر جمله ای که مربوط به دو دسته ی دیگر نبود برچسب خنثی بدهید.
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12 text-center">-->
                <!--<p>-->
                    <!--توجه به این نکته الزامی است: هر جمله را به صورت منحصر به فرد بررسی کنید و امتیازات را بر اساس مقایسه-->
                    <!--بین جملات وارد نکنید.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="links">
                    <a href="{% url 'tagger:sentence' %}">ورود به تست</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block scripts %}

{% endblock %}
