{% extends 'r2d2/base.html' %}

{% block title %}
<title>امتیازدهی</title>
{% endblock %}


{% block styles %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'general/css/tests.css' %}"/>

{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-container to-center">
                    <span class="card-header">
                    <!--<p>در این تست از 1 تا 5 به جملات امتیاز میدهید؛ سه معیار وجود دارد:-->
                        <!--میزان اطلاعاتی که میدهد، میزان شباهت به زبان انسان، کیفیت جمله از نظر گرامری.</p>-->
                        <span class="card-title">
					        <h3>sentence scoring</h3>
				        </span>
			        </span>
                <div class="content">
                    <!--<div class="ui container centered grey index-margin">-->
                    <div class="ui container centered">
                        {% if all_rated %}
                        <div class="ui container center aligned">
                            <div style="font-size: 2em;">جمله جدیدی وجود ندارد!</div>
                        </div>
                        {% else %}
                        <div class="ui center aligned grid container">
                            <div class="ui center aligned row">
                                <div class="container">
                                    <div class="row">
                                        <!--<div class="col-sm-9" style="margin:0.5em; padding:0.5em;">-->
                                        <div class="col-sm-9">
                            <span dir="ltr" class="sentences" id="mr" data-sentence-id=mr-{{ sentence.id }}>
                            {{ sentence.mr}}</span>
                                        </div>
                                        <div class="column col-sm-3" style="padding-top:1em;">نمایش معنایی</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui center aligned row">
                                <div class="container">
                                    <div class="row">
                                        <!--<div class="col-sm-9" style="margin:0.5em; padding:0.5em;">-->
                                        <div class="col-sm-9">
                            <span dir="ltr" class="sentences" id="sentence" data-sentence-id={{ sentence.id }}>
                            {{ sentence.text }}</span>
                                        </div>
                                        <div class="column col-sm-3" style="padding-top:1em;">جمله ی معادل</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui center aligned row">
                                <div class="container">
                                    <div class="row">
                                        <div class="ui buttons col-sm-9">
                                            <button id="inform-five-btn" class="ui button">5</button>
                                            <div class="or" data-text="یا"></div>
                                            <button id="inform-four-btn" class="ui button">4</button>
                                            <div class="or" data-text="یا"></div>
                                            <button id="inform-three-btn" class="ui button">3</button>
                                            <div class="or" data-text="یا"></div>
                                            <button id="inform-two-btn" class="ui button">2</button>
                                            <div class="or" data-text="یا"></div>
                                            <button id="inform-one-btn" class="ui button">1</button>
                                        </div>
                                        <div class="column col-sm-3" style="padding-top:0.5em;">Informativeness</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui center aligned row">
                                <div class="container">
                                    <div class="row">
                                        <div class="ui buttons col-sm-9">
                                            <button id="natural-five-btn" class="ui button">5</button>
                                            <div class="or" data-text="یا"></div>
                                            <button id="natural-four-btn" class="ui button">4</button>
                                            <div class="or" data-text="یا"></div>
                                            <button id="natural-three-btn" class="ui button">3</button>
                                            <div class="or" data-text="یا"></div>
                                            <button id="natural-two-btn" class="ui button">2</button>
                                            <div class="or" data-text="یا"></div>
                                            <button id="natural-one-btn" class="ui button">1</button>
                                        </div>
                                        <div class="column-col-sm-3" style="padding-top:0.5em;">Naturalness</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui center aligned row">
                                <div class="container">
                                    <div class="row">
                                        <div class="ui buttons col-sm-9">
                                            <button id="quality-five-btn" class="ui button">5</button>
                                            <div class="or" data-text="یا"></div>
                                            <button id="quality-four-btn" class="ui button">4</button>
                                            <div class="or" data-text="یا"></div>
                                            <button id="quality-three-btn" class="ui button">3</button>
                                            <div class="or" data-text="یا"></div>
                                            <button id="quality-two-btn" class="ui button">2</button>
                                            <div class="or" data-text="یا"></div>
                                            <button id="quality-one-btn" class="ui button">1</button>
                                        </div>
                                        <div class="column col-sm-3" style="padding-top:0.5em;">Quality</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button id="rate-sentence" class="boxes-btn">امتیازدهی</button>
                            </div>
                            <div style="visibility: hidden;" id="fields-required" class="ui error message">لطفا به همه
                                موارد امتیاز دهید.
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="ui container centered grey index-margin">-->
<!--{% if all_rated %}-->
<!--<div class="ui container center aligned">-->
<!--<div style="font-size: 2em;">جمله جدیدی وجود ندارد!</div>-->
<!--</div>-->
<!--{% else %}-->
<!--<div class="ui back-grey-menu center aligned grid container">-->
<!--<div class="ui center aligned row">-->
<!--<div style="margin:1em; padding:1em;">-->
<!--<span id="sentence" data-sentence-id={{ sentence.id }} style="font-size:2em;">-->
<!--{{ sentence.text }}-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="ui center aligned row">-->
<!--<div style="margin:1em; padding:1em;">-->
<!--<span id="mr" data-sentence-id=mr-{{ sentence.id }} style="font-size:2em;">-->
<!--{{ sentence.mr}}-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="ui center aligned row">-->
<!--<div class="ui buttons">-->
<!--<button id="inform-five-btn" class="ui button">5</button>-->
<!--<div class="or" data-text="یا"></div>-->
<!--<button id="inform-four-btn" class="ui button">4</button>-->
<!--<div class="or" data-text="یا"></div>-->
<!--<button id="inform-three-btn" class="ui button">3</button>-->
<!--<div class="or" data-text="یا"></div>-->
<!--<button id="inform-two-btn" class="ui button">2</button>-->
<!--<div class="or" data-text="یا"></div>-->
<!--<button id="inform-one-btn" class="ui button">1</button>-->
<!--</div>-->
<!--<div class="column">Informativeness</div>-->
<!--</div>-->
<!--<div class="ui center aligned row">-->
<!--<div class="ui buttons">-->
<!--<button id="natural-five-btn" class="ui button">5</button>-->
<!--<div class="or" data-text="یا"></div>-->
<!--<button id="natural-four-btn" class="ui button">4</button>-->
<!--<div class="or" data-text="یا"></div>-->
<!--<button id="natural-three-btn" class="ui button">3</button>-->
<!--<div class="or" data-text="یا"></div>-->
<!--<button id="natural-two-btn" class="ui button">2</button>-->
<!--<div class="or" data-text="یا"></div>-->
<!--<button id="natural-one-btn" class="ui button">1</button>-->
<!--</div>-->
<!--<div class="column">Naturalness</div>-->
<!--</div>-->
<!--<div class="ui center aligned row">-->
<!--<div class="ui buttons">-->
<!--<button id="quality-five-btn" class="ui button">5</button>-->
<!--<div class="or" data-text="یا"></div>-->
<!--<button id="quality-four-btn" class="ui button">4</button>-->
<!--<div class="or" data-text="یا"></div>-->
<!--<button id="quality-three-btn" class="ui button">3</button>-->
<!--<div class="or" data-text="یا"></div>-->
<!--<button id="quality-two-btn" class="ui button">2</button>-->
<!--<div class="or" data-text="یا"></div>-->
<!--<button id="quality-one-btn" class="ui button">1</button>-->
<!--</div>-->
<!--<div class="column">Quality</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<button id="rate-sentence" class="ui purple button">امتیازدهی</button>-->
<!--</div>-->
<!--<div style="visibility: hidden;" id="fields-required">لطفا به همه موارد امتیاز دهید.</div>-->
<!--</div>-->
<!--{% endif %}-->

<!--</div>-->

{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static 'ketabkhaar/js/flickity.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ketabkhaar/js/js-index.js' %}"></script>
<script>
    let inform = 0;
    let natural = 0;
    let quality = 0;
    let mr_inform = 0;
    $('#inform-five-btn').click(function() {
        inform = 5;
        console.log("inform "+inform);
        $('#inform-five-btn').addClass("positive");
        $('#inform-four-btn').removeClass("positive");
        $('#inform-three-btn').removeClass("positive");
        $('#inform-two-btn').removeClass("positive");
        $('#inform-one-btn').removeClass("positive");

    });
    $('#inform-four-btn').click(function() {
        inform = 4;
        console.log("inform "+inform);
        $('#inform-five-btn').removeClass("positive");
        $('#inform-four-btn').addClass("positive");
        $('#inform-three-btn').removeClass("positive");
        $('#inform-two-btn').removeClass("positive");
        $('#inform-one-btn').removeClass("positive");

    });
    $('#inform-three-btn').click(function() {
        inform = 3;
        console.log("inform "+inform);
        $('#inform-five-btn').removeClass("positive");
        $('#inform-four-btn').removeClass("positive");
        $('#inform-three-btn').addClass("positive");
        $('#inform-two-btn').removeClass("positive");
        $('#inform-one-btn').removeClass("positive");
    });
    $('#inform-two-btn').click(function() {
        inform = 2;
        console.log("inform "+inform);
        $('#inform-five-btn').removeClass("positive");
        $('#inform-four-btn').removeClass("positive");
        $('#inform-three-btn').removeClass("positive");
        $('#inform-two-btn').addClass("positive");
        $('#inform-one-btn').removeClass("positive");
    });
    $('#inform-one-btn').click(function() {
        inform = 1;
        console.log("inform "+inform);
        $('#inform-five-btn').removeClass("positive");
        $('#inform-four-btn').removeClass("positive");
        $('#inform-three-btn').removeClass("positive");
        $('#inform-two-btn').removeClass("positive");
        $('#inform-one-btn').addClass("positive");
    });

    $('#natural-five-btn').click(function() {
        natural = 5;
        console.log("natural "+natural);
        $('#natural-five-btn').addClass("positive");
        $('#natural-four-btn').removeClass("positive");
        $('#natural-three-btn').removeClass("positive");
        $('#natural-two-btn').removeClass("positive");
        $('#natural-one-btn').removeClass("positive");

    });
    $('#natural-four-btn').click(function() {
        natural = 4;
        console.log("natural "+natural);
        $('#natural-five-btn').removeClass("positive");
        $('#natural-four-btn').addClass("positive");
        $('#natural-three-btn').removeClass("positive");
        $('#natural-two-btn').removeClass("positive");
        $('#natural-one-btn').removeClass("positive");

    });
    $('#natural-three-btn').click(function() {
        natural = 3;
        console.log("natural "+natural);
        $('#natural-five-btn').removeClass("positive");
        $('#natural-four-btn').removeClass("positive");
        $('#natural-three-btn').addClass("positive");
        $('#natural-two-btn').removeClass("positive");
        $('#natural-one-btn').removeClass("positive");
    });
    $('#natural-two-btn').click(function() {
        natural = 2;
        console.log("natural "+natural);
        $('#natural-five-btn').removeClass("positive");
        $('#natural-four-btn').removeClass("positive");
        $('#natural-three-btn').removeClass("positive");
        $('#natural-two-btn').addClass("positive");
        $('#natural-one-btn').removeClass("positive");
    });
    $('#natural-one-btn').click(function() {
        natural = 1;
        console.log("natural "+natural);
        $('#natural-five-btn').removeClass("positive");
        $('#natural-four-btn').removeClass("positive");
        $('#natural-three-btn').removeClass("positive");
        $('#natural-two-btn').removeClass("positive");
        $('#natural-one-btn').addClass("positive");
    });

    $('#quality-five-btn').click(function() {
        quality = 5;
        console.log("quality "+quality);
        $('#quality-five-btn').addClass("positive");
        $('#quality-four-btn').removeClass("positive");
        $('#quality-three-btn').removeClass("positive");
        $('#quality-two-btn').removeClass("positive");
        $('#quality-one-btn').removeClass("positive");

    });
    $('#quality-four-btn').click(function() {
        quality = 4;
        console.log("quality "+quality);
        $('#quality-five-btn').removeClass("positive");
        $('#quality-four-btn').addClass("positive");
        $('#quality-three-btn').removeClass("positive");
        $('#quality-two-btn').removeClass("positive");
        $('#quality-one-btn').removeClass("positive");

    });
    $('#quality-three-btn').click(function() {
        quality = 3;
        console.log("quality "+quality);
        $('#quality-five-btn').removeClass("positive");
        $('#quality-four-btn').removeClass("positive");
        $('#quality-three-btn').addClass("positive");
        $('#quality-two-btn').removeClass("positive");
        $('#quality-one-btn').removeClass("positive");
    });
    $('#quality-two-btn').click(function() {
        quality = 2;
        console.log("quality "+quality);
        $('#quality-five-btn').removeClass("positive");
        $('#quality-four-btn').removeClass("positive");
        $('#quality-three-btn').removeClass("positive");
        $('#quality-two-btn').addClass("positive");
        $('#quality-one-btn').removeClass("positive");
    });
    $('#quality-one-btn').click(function() {
        quality = 1;
        console.log("quality "+quality);
        $('#quality-five-btn').removeClass("positive");
        $('#quality-four-btn').removeClass("positive");
        $('#quality-three-btn').removeClass("positive");
        $('#quality-two-btn').removeClass("positive");
        $('#quality-one-btn').addClass("positive");
    });


    $('#rate-sentence').click(function() {
        console.log("Informativeness: "+inform);
        console.log("Naturalness: "+natural);
        console.log("Quality: "+quality);
        if (inform===0){
            console.log("INFORM!!!!");
            $('#fields-required').css('visibility', 'visible');
        }
        else if(natural===0){
            console.log("NATURAL!!!!");
            $('#fields-required').css('visibility', 'visible');
        }
        else if(quality===0){
            console.log("QUALITY!!!!");
            $('#fields-required').css('visibility', 'visible');
        }
        else {
            const sentenceId = $('#sentence').attr('data-sentence-id');
            $.ajax({
            url: "" + sentenceId + "/score",
            type: 'put',
            data: JSON.stringify({
                inform: inform,
                natural: natural,
                quality: quality,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }),
            dataType : "json",
            success: function(data) {
                if (data.result === "OK") {
                    window.location.href = data.url;
                }
                else {
                    console.error('cannot rate');
                }
            },
            error: function() {
                console.error('error');
            }
        })
        }

    });


</script>

{% endblock %}
