#profile-box{
    width: 70%;
    height: 20rem;
    margin: 6rem 15% 0 15%;
    border: dashed 2px #003b6a;
    border-radius: 10px;
}
.information{
    width: 60%;
    height: 100%;
}
.row{
    width: 70%;
    height: 4rem;
    line-height: 4rem;
    margin: 0.7rem 15%;
}
.title{
    width: 30%;
}
.image{
    width: 40%;
    height: 100%;
}
.profile-img{
    width: 65%;
    height: 70%;
    margin: 13% 17.5%;
    border-radius: 50%;
    border: 1px solid #00284c;
    background-image: url("user.png");
    background-position: center;
    background-size: 100%;
}