.form-container {
    width: 80%;
    height: 26rem;
    padding: 5rem 10% 0 10%;
    color: #00284c;
}

#login-box {
    width: 39%;
    height: 100%;
    display: inline-block;
    border: dashed 2px #003b6a;
    border-radius: 10px;
    text-align: center;
    padding: 0 3%;

}

#register-box {
    width: 39%;
    height: 100%;
    display: inline-block;
    border: dashed 2px #003b6a;
    border-radius: 10px;
    text-align: center;
    padding: 0 3%;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
}

input {
    width: 60%;
    height: 2.5rem;
    line-height: 2.5rem;
    float: right;
    padding: 0;
    margin: 0;
}

label {
    width: 20%;
    height: 3rem;
    line-height: 3rem;
    float: left;
    font-size: 0.8rem;
}
.login-form{
    margin-top: 5rem;
}

.register-button {
    width: 92%;
    background-color: #003b6a;
    box-shadow: 0 0 20px #9e9e9e;
    border: none;
    color: #e4e4e4;
    margin-top: 1rem;
}
.login-btn{
    margin-top: 6.8rem!important;
}