
.book-info-img{
    height: 165px;
}

.ui.segment.back-grey {
    background-color: #f2f2f2 !important;

}

.ui.grid > .row > img, .ui.grid > .row > .column > img {
    max-width: 55%;
}
.ui.grid .row + .ui.divider {
    margin-top: 0;
    margin-bottom: 0;
}

.con-margin{
    /*padding-bottom: 91px;*/
    /*position: relative;*/
    /*top: 18% !important;*/
    margin-top: 5rem !important;
}

.history-margin{
    margin-bottom: 14px !important;
}


.ui.progress:last-child {
    margin: 1.5em 0em 1.5em !important;
}




.tabset > input[type="radio"] {
    position: absolute;
    display: none;
}

.tabset .tab-panel {
    display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}

/*
 Styling
*/

.tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 300;
}


.tabset > label:hover,
.tabset > input:focus + label {
    color: rgba(70, 130, 80, 0.6);
}


.tabset > input:checked + label {
    /*border-color: #ccc;*/
    /*border-bottom: 1px solid #fff;*/
    margin-bottom: -1px;

    background: whitesmoke;
}

.tab-panel {
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #ccc;
    background: whitesmoke;
    overflow: auto;
}
