{% extends 'r2d2/base.html' %}


{% block title %}
<title>حساب کاربری {{ user.username }}</title>
{% endblock %}

{% block styles %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style-profile.css' %}"/>
{% endblock %}


{% block content %}


<div class="ui container con-margin page-wrap">
    <div class="ui grid container">
        <!-- information -->
        <div class="three wide column right aligned ">
            {% if user.is_superuser %}
            <h2 class="ui header">مدیر</h2>
            {% else %}
            <h2 class="ui header">{{ user.first_name}} {{ user.last_name }}</h2>
            {% endif %}
            <div class="ui small rounded image center aligned">
                <img src="/{{ user.avatar }}">
            </div>
            <div class="ui divider "></div>
            <div class="ui animated large relaxed link right aligned list">
                {# <a class="underline-link item right aligned" #}
                      {# href="{% url 'accounts:edit_profile' %}">ویرایش مشخصات</a>#}
                {% if user.is_superuser %}
                <a class="underline-link item right aligned"
                   href="{% url 'tagger:add_sentence' %}">اضافه کردن جمله</a>
                <a class="underline-link item right aligned"
                   href="{% url 'tagger:get_all_sentences_history' 1 30 %}">تاریخچه تمام امتیازات</a>
                <a class="underline-link item right aligned"
                   href="{% url 'tagger:get_all_sentences' 1 30 %}">وضعیت تمام جمله‌ها</a>
                {% else %}
                <div class="item right aligned">امتیاز: {{ user.score }}</div>
                <div class="item right aligned"> تاریخ ثبت نام: {{ user.registrationDate }}</div>
                {% endif %}
            </div>
        </div>
        <!-- tab info -->
        <div class="thirteen wide column right floating">
            <div class="ui container">
                <div class="tabset">
                    {% if user.is_superuser %}
                    <input type="radio" name="tabset" id="tab1" aria-controls="s1" checked data-icon="">
                    <label for="tab1">خلاصه امتیازات کاربران</label>
                    <input type="radio" name="tabset" id="tab2" aria-controls="s2">
                    <label for="tab2">خلاصه وضعیت جمله‌ها</label>
                    <input type="radio" name="tabset" id="tab3" aria-controls="s3">
                    <label for="tab3">خلاصه امتیازات کاربران 2</label>
                    <input type="radio" name="tabset" id="tab4" aria-controls="s4">
                    <label for="tab4">خلاصه وضعیت جمله‌ها 2</label>
                    {% else %}
                    <input type="radio" name="tabset" id="tab5" aria-controls="s5" checked data-icon="">
                    <label for="tab5">تاریخچه امتیازها</label>
                    <input type="radio" name="tabset" id="tab6" aria-controls="s6">
                    <label for="tab6">تاریخچه امتیازها 2</label>
                    {% endif %}

                    <div class="tab-panels">
                        {% if user.is_superuser %}
                        <section id="s1" class="tab-panel">
                            <table class="ui green table">
                                {% if sentence_histories %}
                                <thead>
                                <tr>
                                    <th class="two wide">شناسه جمله</th>
                                    <th class="two wide">شناسه کاربر</th>
                                    <th class="nine wide">جمله</th>
                                    <th class="two wide">قطبیت</th>
                                    <th>آی‌پی</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for history in sentence_histories %}
                                <tr>
                                    <td>{{ history.sentenceId.id }}</td>
                                    <td>{{ history.userId.id }}</td>
                                    <td dir="ltr">{{ history.sentenceId.text }}</td>
                                    <td>{{ history.polarity }}</td>
                                    <td>{{ history.ip }}</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                                {% else %}
                                <div class="ui center aligned container">
                                    تاکنون کسی امتیازی نداده است
                                </div>
                                {% endif %}

                            </table>

                        </section>
                        <section id="s2" class="tab-panel">
                            <table class="ui blue table">
                                {% if sentences %}
                                <thead>
                                <tr>
                                    <th class="one wide">شناسه</th>
                                    <th class="ten wide">متن</th>
                                    <th>قطبیت میانگین</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for sentence in sentences %}
                                <tr>
                                    <td>{{ sentence.id }}</td>
                                    <td dir="ltr">{{ sentence.text }}</td>
                                    <td>{{ sentence.polarityAvg }}</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                                {% else %}
                                <div class="ui center aligned container">
                                    جمله‌ای وجود ندارد
                                </div>
                                {% endif %}

                            </table>

                        </section>

                        <section id="s3" class="tab-panel">
                            <table class="ui green table to-left">
                                {% if scoring_sentence_histories %}
                                <thead>
                                <tr>
                                    <th class="two wide">شناسه جمله</th>
                                    <th class="two wide">شناسه کاربر</th>
                                    <th class="five wide">جمله ی معادل</th>
                                    <th class="five wide">نمایش معنایی</th>
                                    <th class="two wide">informativeness</th>
                                    <th class="two wide">quality</th>
                                    <th class="two wide">naturalness</th>
                                    <th>آی‌پی</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for history in scoring_sentence_histories %}
                                <tr>
                                    <td>{{ history.sentenceId.id }}</td>
                                    <td>{{ history.userId.id }}</td>
                                    <td dir="ltr">{{ history.sentenceId.text }}</td>
                                    <td dir="ltr">{{ history.sentenceId.mr }}</td>
                                    <td>{{ history.informativeness }}</td>
                                    <td>{{ history.naturalness }}</td>
                                    <td>{{ history.quality }}</td>
                                    <td>{{ history.ip }}</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                                {% else %}
                                <div class="ui center aligned container">
                                    تاکنون کسی امتیازی نداده است
                                </div>
                                {% endif %}

                            </table>

                        </section>
                        <section id="s4" class="tab-panel">
                            <table class="ui blue table">
                                {% if scoring_sentences %}
                                <thead>
                                <tr>
                                    <th class="one wide">شناسه</th>
                                    <th class="ten wide">جمله ی معادل</th>
                                    <th>نمایش معنایی</th>
                                    <th>average informativeness</th>
                                    <th>average naturalness</th>
                                    <th>average quality</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for sentence in scoring_sentences %}
                                <tr>
                                    <td>{{ sentence.id }}</td>
                                    <td dir="ltr">{{ sentence.text }}</td>
                                    <td dir="ltr">{{ sentence.mr }}</td>
                                    <td>{{ sentence.informativeness_avg }}</td>
                                    <td>{{ sentence.naturalness_avg }}</td>
                                    <td>{{ sentence.quality_avg }}</td>

                                </tr>
                                {% endfor %}

                                </tbody>
                                {% else %}
                                <div class="ui center aligned container">
                                    جمله‌ای وجود ندارد
                                </div>
                                {% endif %}

                            </table>

                        </section>
                        {% else %}
                        <section id="s5" class="tab-panel">
                            <table class="ui red table">
                                {% if ratings %}
                                <thead>
                                <tr>
                                    <th class="one wide">#</th>
                                    <th class="nine wide">جمله</th>
                                    <th class="two wide">قطبیت</th>
                                    <th>تاریخ</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rate in ratings %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td dir="ltr">{{ rate.sentenceId.text }}</td>
                                    <td>{{ rate.polarity }}</td>
                                    <td>{{ rate.date }}</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                                {% else %}
                                <div class="ui center aligned container">
                                    تاکنون امتیازی ثبت نکرده‌اید.
                                </div>
                                {% endif %}

                            </table>

                        </section>
                        <section id="s6" class="tab-panel">
                            <table class="ui red table">
                                {% if scores %}
                                <thead>
                                <tr>
                                    <th class="one wide">#</th>
                                    <th class="four wide">جمله ی معادل</th>
                                    <th class="four wide">نمایش معنایی</th>
                                    <th class="one wide">informativeness</th>
                                    <th class="one wide">naturalness</th>
                                    <th class="one wide">quality</th>
                                    <th>تاریخ</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for score in scores %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td dir="ltr">{{ score.sentenceId.text }}</td>
                                    <td dir="ltr">{{ score.sentenceId.mr}}</td>
                                    <td>{{ score.informativeness }}</td>
                                    <td>{{ score.naturalness }}</td>
                                    <td>{{ score.quality}}</td>
                                    <td>{{ score.date }}</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                                {% else %}
                                <div class="ui center aligned container">
                                    تاکنون امتیازی ثبت نکرده‌اید.
                                </div>
                                {% endif %}

                            </table>

                        </section>
                        {% endif %}

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

{% endblock %}


