{% extends 'r2d2/base.html' %}


{% block title %}
    <title>تگر - ثبت نام</title>
{% endblock %}

{% block styles %}
    {% load staticfiles %}
{#        <link rel="stylesheet" href="{% static 'accounts/css/style-signup.css' %}"/>#}
{% endblock %}

{% block content %}
    <div class="form login-form">
<div class="modal-header">
        <h4>ثبت نام</h4>
    </div>
            <p></p>
            <p></p>
        {% if register %}
            <div class="ui success message">
ثبت نام با موفقیت انجام شد.            </div>
{#            <span>ثبت نام با موفقیت انجام شد.</span>#}
        {% else %}
            <form action="/user/register" method="post">
                {% csrf_token %}
                {% if error %}
                    <div class="ui error message">
                        {{ error }}

                    </div>
                {% endif %}
                {{ register_form.as_p }}
{#                <input type="submit" value="ثبت نام" class="ui right orange floated button"/>#}
                <div>
                    {#            <input class="ui orange button" type="submit" value="وارد شوید"/>#}
                    <button type="submit" class="save btn btn-default">ثبت نام</button>
                </div>
            </form>
        {% endif %}


    </div>


{% endblock %}

{% block scripts %}
{#    <script>#}
{#        $(function () {#}
{#            $('.ui.checkbox')#}
{#                    .checkbox()#}
{#        });#}
{#    </script>#}
{% endblock %}


